venv/
# Archivos locales de desarrollo
__pycache__/
*.pyc
.venv/
node_modules/
dist/
.env

# Reportes de Playwright
playwright-report/
test-results/
blob-report/

# Imágenes subidas en el entorno local
media/
